<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.longfor.itserver.mapper.BugInfoMapper" >
  <resultMap id="BaseResultMap" type="com.longfor.itserver.entity.BugInfo" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="feed_back_id" property="feedBackId" jdbcType="BIGINT" />
    <result column="relation_id" property="relationId" jdbcType="BIGINT" />
    <result column="relation_type" property="relationType" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="descp" property="descp" jdbcType="VARCHAR" />
    <result column="reproduction_step" property="reproductionStep" jdbcType="VARCHAR" />
    <result column="brower" property="brower" jdbcType="VARCHAR" />
    <result column="hope_date" property="hopeDate" jdbcType="TIMESTAMP" />
    <result column="callon_account_id" property="callonAccountId" jdbcType="VARCHAR" />
    <result column="callon_employee_code" property="callonEmployeeCode" jdbcType="BIGINT" />
    <result column="callon_employee_name" property="callonEmployeeName" jdbcType="VARCHAR" />
    <result column="callon_full_dept_path" property="callonFullDeptPath" jdbcType="VARCHAR" />
    <result column="drafted_account_id" property="draftedAccountId" jdbcType="VARCHAR" />
    <result column="drafted_employee_code" property="draftedEmployeeCode" jdbcType="BIGINT" />
    <result column="drafted_employee_name" property="draftedEmployeeName" jdbcType="VARCHAR" />
    <result column="drafted_full_dept_path" property="draftedFullDeptPath" jdbcType="VARCHAR" />
    <result column="cc_account" property="ccAccount" jdbcType="VARCHAR" />
    <result column="like_product" property="likeProduct" jdbcType="VARCHAR" />
    <result column="like_program" property="likeProgram" jdbcType="VARCHAR" />
    <result column="level" property="level" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="channel" property="channel" jdbcType="INTEGER" />
    <result column="modified_account_id" property="modifiedAccountId" jdbcType="VARCHAR" />
    <result column="modified_name" property="modifiedName" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modified_time" property="modifiedTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="BugInfoDetailResultMap" extends="BaseResultMap" type="com.longfor.itserver.entity.ps.PsBugInfoDetail">

  </resultMap>

  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbggenerated
    -->
    id, feed_back_id, relation_id, relation_type, name, descp, reproduction_step, brower,
    hope_date, callon_account_id, callon_employee_code, callon_employee_name, callon_full_dept_path,
    drafted_account_id, drafted_employee_code, drafted_employee_name, drafted_full_dept_path,
    cc_account, like_product, like_program, level, status, channel, modified_account_id,
    modified_name, create_time, modified_time
  </sql>

  <!-- BUG列表 -->
  <select id="bugList" parameterType="map" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM bug_info
    WHERE 1=1
    <if test='status != "" and status != null  and status != -1'>
      and status = #{status}
    </if>
    <if test='channel !="" and channel != null '>
      and channel = #{channel}
    </if>
    <if test='searchText != "" and searchText != null'>
      and (name like concat(concat('%',#{searchText}),'%') OR callon_employee_name like concat(concat('%',#{searchText}),'%'))
    </if>
  </select>

  <!-- 通过ID查询BUG -->
  <select id="getBugId" parameterType="java.lang.Long" resultMap="BugInfoDetailResultMap">
    SELECT * FROM bug_info WHERE id = #{id}
  </select>
</mapper>