<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.longfor.itserver.mapper.DemandChangeLogMapper" >
  <resultMap id="BaseResultMap" type="com.longfor.itserver.entity.DemandChangeLog" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="demand_id" property="demandId" jdbcType="BIGINT" />
    <result column="bef_descp" property="befDescp" jdbcType="VARCHAR" />
    <result column="action_change_info" property="actionChangeInfo" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="modified_account_id" property="modifiedAccountId" jdbcType="VARCHAR" />
    <result column="modified_name" property="modifiedName" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modified_time" property="modifiedTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbggenerated
    -->
    id, demand_id, bef_descp, action_change_info, type, modified_account_id, modified_name, 
    create_time, modified_time
  </sql>



  <select id="orderLimitList"  resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List" /> from demand_change_log WHERE
    demand_id =#{demandId} ORDER BY create_time DESC limit 0,50;
  </select>

  <select id="paraQuery" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM demand_change_log
    <where>
      <if test="operateTime != null and operateTime != ''">
        and date_format(create_time,'%Y-%m-%d')=#{operateTime}
      </if>
      <if test="loginName != null and loginName != ''">
        and modified_account_id = #{loginName}
      </if>
      <if test="content != null and content != ''">
        and action_change_info LIKE concat('%',#{content},'%')
      </if>
    </where>
    ORDER BY create_time DESC
  </select>
</mapper>