<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.longfor.itserver.mapper.FeedBackMapper" >
  <resultMap id="BaseResultMap" type="com.longfor.itserver.entity.FeedBack" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="product_id" property="productId" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="problem_title" property="problemTitle" jdbcType="VARCHAR" />
    <result column="problem_descp" property="problemDescp" jdbcType="VARCHAR" />
    <result column="reproduction_step" property="reproductionStep" jdbcType="VARCHAR" />
    <result column="sys_environment" property="sysEnvironment" jdbcType="VARCHAR" />
    <result column="contact_account_id" property="contactAccountId" jdbcType="VARCHAR" />
    <result column="contact_employee_code" property="contactEmployeeCode" jdbcType="BIGINT" />
    <result column="contact_employee_name" property="contactEmployeeName" jdbcType="VARCHAR" />
    <result column="contact_full_dept_path" property="contactFullDeptPath" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="channel" property="channel" jdbcType="INTEGER" />
    <result column="modified_account_id" property="modifiedAccountId" jdbcType="VARCHAR" />
    <result column="modified_employee_code" property="modifiedEmployeeCode" jdbcType="BIGINT" />
    <result column="modified_name" property="modifiedName" jdbcType="VARCHAR" />
    <result column="modified_full_dept_path" property="modifiedFullDeptPath" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modified_time" property="modifiedTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbggenerated
    -->
    id, product_id, name, problem_title, problem_descp, reproduction_step, sys_environment,
    contact_account_id, contact_employee_code, contact_employee_name, contact_full_dept_path,
    type, status, channel, modified_account_id, modified_employee_code, modified_name,
    modified_full_dept_path, create_time, modified_time
  </sql>

</mapper>