<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.longfor.itserver.mapper.ProductMapper" >
  <resultMap id="BaseResultMap" type="com.longfor.itserver.entity.Product" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="descp" property="descp" jdbcType="VARCHAR" />
    <result column="contact_account_id" property="contactAccountId" jdbcType="VARCHAR" />
    <result column="contact_employee_code" property="contactEmployeeCode" jdbcType="BIGINT" />
    <result column="contact_employee_name" property="contactEmployeeName" jdbcType="VARCHAR" />
    <result column="contact_full_dept_path" property="contactFullDeptPath" jdbcType="VARCHAR" />
    <result column="like_product" property="likeProduct" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="modified_account_id" property="modifiedAccountId" jdbcType="VARCHAR" />
    <result column="modified_name" property="modifiedName" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modified_time" property="modifiedTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ApiBaseResultMap" extends="BaseResultMap" type="com.longfor.itserver.entity.ps.PsProduct">
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbggenerated
    -->
    id, name, descp, contact_account_id, contact_employee_code, contact_employee_name, 
    contact_full_dept_path, like_product, type, status, modified_account_id, modified_name, 
    create_time, modified_time
  </sql>
  <select id="selectList" resultMap="BaseResultMap">
    SELECT DISTINCT ta.*
    FROM product ta LEFT JOIN product_employee tb ON ta.id = tb.product_id
    WHERE
    <if test="mySelf != null and mySelf != '' and mySelf == 0">
      (tb.account_id = #{accountId}
      OR ta.contact_account_id = #{accountId}
      OR ta.type=1)
    </if>
    <if test="mySelf != null and mySelf != '' and mySelf == 1">
      (tb.account_id = #{accountId}
      OR ta.contact_account_id = #{accountId})
    </if>
    <if test="productStatus != null and productStatus != '' ">
      AND ta.status= #{productStatus}
    </if>
    <if test="searchText != null and searchText != ''">
      AND (tb.employee_name LIKE concat('%',#{searchText},'%') OR ta.name LIKE concat('%',#{searchText},'%') OR ta.contact_employee_name LIKE concat('%',#{searchText},'%'))
    </if>
  </select>

  <select id="selectLikeList" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM product
    WHERE   1=1
    <if test="name != null and name != ''">
      and name LIKE concat('%',#{name},'%')
    </if>
    limit 0,20
  </select>
</mapper>