<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.longfor.itserver.mapper.ProductLabelMapper">
  <resultMap id="BaseResultMap" type="com.longfor.itserver.entity.ProductLabel">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="label_type_id" jdbcType="BIGINT" property="labelTypeId" />
    <result column="label_name" jdbcType="VARCHAR" property="labelName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="modified_account_id" jdbcType="VARCHAR" property="modifiedAccountId" />
    <result column="modified_name" jdbcType="VARCHAR" property="modifiedName" />
  </resultMap>

  <sql id="Base_Column_List">
    <!--
      WARNING - @mbggenerated
    -->
    id, label_type_id, label_name, create_time, modified_time, modified_account_id, modified_name
  </sql>

  <select id="getLabelList" parameterType="map" resultMap="BaseResultMap">
    select * from product_label
    <where>
      <if test=" labelName != null and labelName != ''">
        label_name LIKE concat(concat('%',#{labelName}),'%')
      </if>
      <if test=" labelTypeId != null and labelTypeId != ''">
        and label_type_id = #{labelTypeId}
      </if>
    </where>
    ORDER BY create_time DESC
    LIMIT #{startRow},#{endRow}
  </select>

  <select id="getLabelCount" parameterType="map" resultType="int">
    select COUNT(1) from product_label
    <where>
      <if test=" labelName != null and labelName != ''">
        label_name LIKE concat(concat('%',#{labelName}),'%')
      </if>
      <if test=" labelTypeId != null and labelTypeId != ''">
        and label_type_id = #{labelTypeId}
      </if>
    </where>
  </select>

</mapper>