<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.longfor.itserver.mapper.ProductCommentMapper" >
  <resultMap id="BaseResultMap" type="com.longfor.itserver.entity.ProductComment" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="product_id" property="productId" jdbcType="BIGINT" />
    <result column="parent_id" property="parentId" jdbcType="BIGINT" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="account_id" property="accountId" jdbcType="VARCHAR" />
    <result column="employee_code" property="employeeCode" jdbcType="BIGINT" />
    <result column="employee_name" property="employeeName" jdbcType="VARCHAR" />
    <result column="full_dept_path" property="fullDeptPath" jdbcType="VARCHAR" />
    <result column="employee_type_id" property="employeeTypeId" jdbcType="BIGINT" />
    <result column="employee_type_text" property="employeeTypeText" jdbcType="VARCHAR" />
    <result column="level_num" property="levelNum" jdbcType="INTEGER" />
    <result column="ip" property="ip" jdbcType="VARCHAR" />
    <result column="reply_type" property="replyType" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modified_time" property="modifiedTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbggenerated
    -->
    id, product_id, parent_id, content, account_id, employee_code, employee_name, full_dept_path, 
    employee_type_id, employee_type_text, level_num, ip, reply_type, status, create_time, 
    modified_time
  </sql>
</mapper>