<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.longfor.itserver.mapper.ProgramFileMapper" >
  <resultMap id="BaseResultMap" type="com.longfor.itserver.entity.ProgramFile" >
  <!--
    WARNING - @mbggenerated
  -->
  <id column="id" property="id" jdbcType="BIGINT" />
  <result column="program_id" property="programId" jdbcType="BIGINT" />
  <result column="file_name" property="fileName" jdbcType="VARCHAR" />
  <result column="file_suffix" property="fileSuffix" jdbcType="VARCHAR" />
  <result column="file_size" property="fileSize" jdbcType="VARCHAR" />
  <result column="type" property="type" jdbcType="INTEGER" />
  <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  <result column="snapshot_id" property="snapshotId" jdbcType="BIGINT" />
</resultMap>
  <resultMap id="BaseResultMapVo" type="com.longfor.itserver.entity.ProgramFileVo" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="program_id" property="programId" jdbcType="BIGINT" />
    <result column="file_name" property="fileName" jdbcType="VARCHAR" />
    <result column="file_suffix" property="fileSuffix" jdbcType="VARCHAR" />
    <result column="file_size" property="fileSize" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="snapshot_id" property="snapshotId" jdbcType="BIGINT" />

    <result column="name" property="name" jdbcType="BIGINT" />
    <result column="product_id" property="productId" jdbcType="BIGINT" />
    <result column="product_name" property="productName" jdbcType="BIGINT" />
    <result column="modified_account_id" property="modifiedAccountId" jdbcType="BIGINT" />
    <result column="modified_name" property="modifiedName" jdbcType="BIGINT" />
  </resultMap>

  <resultMap id="ResultMapWithBLOBs" type="com.longfor.itserver.entity.ProgramFile" extends="BaseResultMap" >
    <!--
      WARNING - @mbggenerated
    -->
    <result column="file_path" property="filePath" jdbcType="LONGVARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbggenerated
    -->
    id, program_id, file_name, file_suffix, file_size, type, create_time, snapshot_id
  </sql>
  <sql id="Blob_Column_List" >
    <!--
      WARNING - @mbggenerated
    -->
    file_path
  </sql>

  <select id="getListByMap" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from program_file
    <where>
      <if test="programId != null and programId != ''">
        program_id = #{programId}
      </if>
      <if test="type != null and type != ''">
        and type = #{type}
      </if>
      <if test="snapshotId != null and snapshotId != ''">
        and snapshot_id = #{snapshotId}
      </if>
    </where>
    ORDER BY create_time DESC
    <if test="startRow != null ">
      LIMIT #{startRow},#{endRow}
    </if>
  </select>

  <select id="getFileListByMapTotal" resultType="Integer">
    SELECT COUNT(0) FROM program_file pf
    LEFT JOIN program_approval_snapshot pas ON pas.id = pf.snapshot_id
    <where>
      <if test="programId != null and programId != ''">
        pf.program_id = #{programId}
      </if>
      <if test="programName != null and programName != ''">
        and pas.pas.name = #{programName}
      </if>
      <if test="type != null and type != ''">
        and pf.type = #{type}
      </if>
      <if test="snapshotId != null and snapshotId != ''">
        and pf.snapshot_id = #{snapshotId}
      </if>
      <if test="fileName != null and fileName != ''">
        and pf.file_name LIKE CONCAT('%', #{fileName}, '%')
      </if>
    </where>
  </select>

  <select id="getFileListByMap" resultMap="BaseResultMapVo">
    SELECT
      pf.*, pas.name 'programName',
      pas.product_Id,
      pas.product_Name,
      pas.modified_Account_Id,
      pas.modified_Name
    FROM
        program_file pf
    LEFT JOIN program_approval_snapshot pas ON pas.id = pf.snapshot_id
      <where>
        <if test="programId != null and programId != ''">
          pf.program_id = #{programId}
        </if>
        <if test="programName != null and programName != ''">
          and pas.pas.name = #{programName}
        </if>
        <if test="type != null and type != ''">
          and pf.type = #{type}
        </if>
        <if test="snapshotId != null and snapshotId != ''">
          and pf.snapshot_id = #{snapshotId}
        </if>
        <if test="fileName != null and fileName != ''">
          and pf.file_name LIKE CONCAT('%', #{fileName}, '%')
        </if>
      </where>
      ORDER BY pf.create_time DESC
      <if test="startRow != null ">
        LIMIT #{startRow},#{endRow}
      </if>
  </select>

  <select id="getFileListByWhere" parameterType="map" resultMap="BaseResultMap">
      SELECT
        <include refid="Base_Column_List"/>
      FROM program_file
    <where>
      <if test="programId != null and programId != ''">
        program_id = #{programId}
      </if>
      <if test=" fileNameList != null ">
        and file_name in
        <foreach item="item" index="index" collection="fileNameList" open="(" separator="," close=")">
          #{item}
        </foreach>
      </if>
    </where>
  </select>

</mapper>