<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.longfor.itserver.mapper.ProgramFileMapper" >
  <resultMap id="BaseResultMap" type="com.longfor.itserver.entity.ProgramFile" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="program_id" property="programId" jdbcType="BIGINT" />
    <result column="file_name" property="fileName" jdbcType="VARCHAR" />
    <result column="file_suffix" property="fileSuffix" jdbcType="VARCHAR" />
    <result column="file_size" property="fileSize" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="snapshot_id" property="snapshotId" jdbcType="BIGINT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.longfor.itserver.entity.ProgramFile" extends="BaseResultMap" >
    <!--
      WARNING - @mbggenerated
    -->
    <result column="file_path" property="filePath" jdbcType="LONGVARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbggenerated
    -->
    id, program_id, file_name, file_suffix, file_size, type, create_time, snapshot_id
  </sql>
  <sql id="Blob_Column_List" >
    <!--
      WARNING - @mbggenerated
    -->
    file_path
  </sql>

  <select id="getListByMap" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from program_file
    <where>
      <if test="programId != null and programId != ''">
        program_id = #{programId}
      </if>
      <if test="type != null and type != ''">
        and type = #{type}
      </if>
      <if test="snapshotId != null and snapshotId != ''">
        and snapshot_id = #{snapshotId}
      </if>
    </where>
    ORDER BY create_time DESC
  </select>

</mapper>