<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.longfor.itserver.mapper.ProgramApprovalSnapshotMapper" >
  <resultMap id="BaseResultMap" type="com.longfor.itserver.entity.ProgramApprovalSnapshot" >
    <!--
      WARNING - @mbggenerated
    -->
    <result column="id" property="id" jdbcType="BIGINT" />
    <result column="program_id" property="programId" jdbcType="BIGINT" />
    <result column="product_id" property="productId" jdbcType="BIGINT" />
    <result column="product_name" property="productName" jdbcType="VARCHAR" />
    <result column="product_code" property="productCode" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="descp" property="descp" jdbcType="VARCHAR" />
    <result column="commit_date" property="commitDate" jdbcType="TIMESTAMP" />
    <result column="start_date" property="startDate" jdbcType="TIMESTAMP" />
    <result column="gray_release_date" property="grayReleaseDate" jdbcType="TIMESTAMP" />
    <result column="release_date" property="releaseDate" jdbcType="TIMESTAMP" />
    <result column="ued_date" property="uedDate" jdbcType="TIMESTAMP" />
    <result column="architecture_date" property="architectureDate" jdbcType="TIMESTAMP" />
    <result column="like_product" property="likeProduct" jdbcType="VARCHAR" />
    <result column="like_program" property="likeProgram" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="program_status" property="programStatus" jdbcType="INTEGER" />
    <result column="modified_account_id" property="modifiedAccountId" jdbcType="VARCHAR" />
    <result column="modified_name" property="modifiedName" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modified_time" property="modifiedTime" jdbcType="TIMESTAMP" />
    <result column="account_type" property="accountType" jdbcType="INTEGER" />
    <result column="demo_approval_date" property="demoApprovalDate" jdbcType="TIMESTAMP" />
    <result column="bidding_date" property="biddingDate" jdbcType="TIMESTAMP" />
    <result column="winning_bid_date" property="winningBidDate" jdbcType="TIMESTAMP" />
    <result column="prod_approval_date" property="prodApprovalDate" jdbcType="TIMESTAMP" />
    <result column="dev_approval_date" property="devApprovalDate" jdbcType="TIMESTAMP" />
    <result column="test_approval_date" property="testApprovalDate" jdbcType="TIMESTAMP" />
    <result column="online_plan_date" property="onlinePlanDate" jdbcType="TIMESTAMP" />
    <result column="dev_type" property="devType" jdbcType="INTEGER" />
    <result column="analyzing_conditions" property="analyzingConditions" jdbcType="VARCHAR" />
    <result column="dev_workload" property="devWorkload" jdbcType="INTEGER" />
    <result column="overall_cost" property="overallCost" jdbcType="DECIMAL" />
    <result column="bid_dev_workload" property="bidDevWorkload" jdbcType="INTEGER" />
    <result column="bid_overall_cost" property="bidOverallCost" jdbcType="DECIMAL" />
    <result column="approval_status" property="approvalStatus" jdbcType="INTEGER" />
    <result column="bpm_code" property="bpmCode" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="approval_view" property="approvalView" jdbcType="VARCHAR" />
    <result column="bid_oversingle_cost" property="bidOversingleCost" jdbcType="DECIMAL" />
    <result column="suggestion" property="suggestion" jdbcType="VARCHAR" />
    <result column="apply_account" property="applyAccount" jdbcType="VARCHAR" />
    <result column="cause_delay" property="causeDelay" jdbcType="VARCHAR" />
    <result column="report_poor" property="reportPoor" jdbcType="INTEGER" />
    <result column="new_code" property="newCode" jdbcType="VARCHAR" />
    <result column="replay_date" jdbcType="TIMESTAMP" property="replayDate"/>
    <result column="all_extension_date" jdbcType="TIMESTAMP" property="allExtensionDate"/>
    <result column="commit_descp" jdbcType="VARCHAR" property="commitDescp"/>
  </resultMap>

  <resultMap id="ExceptionProgramVoMap" type="com.longfor.itserver.entity.ExceptionProgramVo" >
    <!--
      WARNING - @mbggenerated
    -->
    <result column="program_id" property="programId" jdbcType="VARCHAR" />
    <result column="name" property="programName" jdbcType="VARCHAR" />
    <result column="product_id" property="productId" jdbcType="VARCHAR" />
    <result column="program_status" property="programStatus" jdbcType="VARCHAR" />
    <result column="approval_status" property="approvalStatus" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="warning_days" property="warningDays" jdbcType="VARCHAR" />
    <result column="warning" property="warning" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbggenerated
    -->
    id, program_id, product_id, product_name, product_code, name, descp, commit_date, start_date,
    gray_release_date, release_date, ued_date, architecture_date, like_product, like_program, 
    type, program_status, modified_account_id, modified_name, create_time, modified_time, 
    account_type, demo_approval_date, bidding_date, winning_bid_date, prod_approval_date, 
    dev_approval_date, test_approval_date, online_plan_date, dev_type, analyzing_conditions, 
    dev_workload, overall_cost, bid_dev_workload, bid_overall_cost, approval_status, 
    bpm_code, remark, approval_view, bid_oversingle_cost, suggestion, apply_account, cause_delay
    , new_code, report_poor, replay_date, all_extension_date, commit_descp
  </sql>

  <select id="getListByProgramIdAndStatus" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from program_approval_snapshot
    <where>
      <if test=" id != null and id != '' ">
        id = #{id}
      </if>
      <if test=" programId != null and programId != '' ">
        and program_id = #{programId}
      </if>
      <if test=" productId != null and productId != '' ">
          and product_id = #{productId}
      </if>
      <if test=" programStatus != null ">
          and program_status = #{programStatus}
      </if>
      <if test=" approvalStatus != null and approvalStatus != '' ">
        and approval_status= #{approvalStatus}
      </if>
      <if test=" bpmCode != null and bpmCode != '' ">
        and bpm_code= #{bpmCode}
      </if>
    </where>
    ORDER  BY  create_time DESC
  </select>

  <select id="grayLevelList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from program_approval_snapshot
    <where>
      <if test=" id != null and id != '' ">
        id = #{id}
      </if>
      <if test=" programId != null and programId != '' ">
        and program_id = #{programId}
      </if>
      <if test=" approvalStatus != null and approvalStatus != '' ">
        and approval_status= #{approvalStatus}
      </if>
      <if test=" programStatusList != null ">
        and program_status in
        <foreach item="item" index="index" collection="programStatusList" open="(" separator="," close=")">
                #{item}
        </foreach>
      </if>
      <if test=" bpmCode != null and bpmCode != '' ">
        and bpm_code= #{bpmCode}
      </if>
    </where>
    ORDER  BY  create_time DESC
  </select>

  <select id="getByBpmCodes" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from program_approval_snapshot
    where bpm_code in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
          #{item}
        </foreach>
    ORDER  BY  create_time DESC
  </select>

  <select id="getExceptionProgram" parameterType="map" resultMap="ExceptionProgramVoMap">
    select * from (
      SELECT p.id program_id,p.name,p.product_id,p.approval_status,
      CASE
      WHEN pas.program_status = '200' THEN  pas.program_status
      WHEN pas.program_status = '999' THEN  pas.program_status
      ELSE p.program_status END program_status,
      CASE
      WHEN pas.program_status = '200' THEN  pas.create_time
      WHEN pas.program_status = '999' THEN  pas.create_time
      WHEN p.program_status = '100' THEN  p.commit_date
      WHEN p.program_status = '110' THEN  p.commit_date
      WHEN p.program_status = '120' THEN  p.demo_approval_date
      WHEN p.program_status = '130' THEN  p.bidding_date
      WHEN p.program_status = '140' THEN  p.winning_bid_date
      WHEN p.program_status = '150' THEN  p.prod_approval_date
      WHEN p.program_status = '160' THEN  p.dev_approval_date
      WHEN p.program_status = '170' THEN  p.test_approval_date
      WHEN p.program_status = '180' THEN  p.online_plan_date
      WHEN p.program_status = '190' THEN  p.gray_release_date
      WHEN p.program_status = '193' THEN  p.all_extension_date
      WHEN p.program_status = '195' THEN  p.replay_date
      WHEN p.program_status = '900' THEN  pas.create_time
      ELSE pas.create_time END create_time,
      p.warning_days,
    (SELECT pw.warning from program_warning pw where pw.program_id=pas.program_id ORDER BY warning desc LIMIT 0,1) warning
        from  program p
    INNER JOIN product pt on pt.id=p.product_id
    INNER JOIN  (SELECT * from program_approval_snapshot GROUP BY program_id ORDER BY create_time desc ) pas on pas.program_id=p.id
      where
        ( p.warning_days <![CDATA[<]]> 0  or
        (pas.program_status IN ('999', '200') AND pas.approval_status = 110 ))
    <if test="programIdList != null">
          and pas.product_id in
          <foreach item="item" index="index" collection="programIdList" open="(" separator="," close=")">
            #{item}
          </foreach>
        </if>
        <if test=" analyzingConditions != null and  analyzingConditions != '' and  analyzingConditions != -1">
          and pt.analyzing_conditions LIKE CONCAT('%', #{analyzingConditions, jdbcType=VARCHAR}, '%')
        </if>
      order by pas.create_time DESC
    ) a
    order by a.create_time DESC
    LIMIT #{startRow},#{endRow}
  </select>

  <select id="getExceptionProgramTotal" parameterType="map" resultType="int">
    select COUNT(program_id) from (
      SELECT p.id program_id,pas.name,pas.product_id,p.program_status,pas.create_time
      from  program p
      LEFT JOIN  (SELECT * from program_approval_snapshot GROUP BY program_id ORDER BY create_time desc ) pas on pas.program_id=p.id
      where
      pas.program_status in ('999','200') and pas.approval_status = 110
      <if test="programIdList != null">
        and pas.product_id in
        <foreach item="item" index="index" collection="programIdList" open="(" separator="," close=")">
          #{item}
        </foreach>
      </if>
      <if test=" analyzingConditions != null and  analyzingConditions != '' and  analyzingConditions != -1">
        and pas.analyzing_conditions = #{analyzingConditions}
      </if>
      or p.warning_days <![CDATA[<]]> 0
      order by pas.create_time DESC
    ) a
  </select>

  <select id="latelyChangeList" parameterType="map" resultMap="BaseResultMap">
    SELECT * from program_approval_snapshot
    where program_status=210 and approval_status=110
    <if test="programIdList != null">
      and product_id in
      <foreach item="item" index="index" collection="programIdList" open="(" separator="," close=")">
        #{item}
      </foreach>
    </if>
    <if test=" analyzingConditions != null and  analyzingConditions != '' and  analyzingConditions != -1">
      and analyzing_conditions = #{analyzingConditions}
    </if>
    ORDER BY create_time desc
    LIMIT #{startRow},#{endRow}
  </select>

  <select id="latelyChangeListTotal" parameterType="map" resultType="int">
    SELECT COUNT(0) from program_approval_snapshot
    where program_status=210 and approval_status=110
    <if test="programIdList != null">
      and product_id in
      <foreach item="item" index="index" collection="programIdList" open="(" separator="," close=")">
        #{item}
      </foreach>
    </if>
    <if test=" analyzingConditions != null and  analyzingConditions != '' and  analyzingConditions != -1">
      and analyzing_conditions = #{analyzingConditions}
    </if>
  </select>

  <select id="getOneByWhere" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from program_approval_snapshot
    <where>
      <if test=" id != null and id != '' ">
        id = #{id}
      </if>
      <if test=" programId != null and programId != '' ">
        and program_id = #{programId}
      </if>
      <if test=" productId != null and productId != '' ">
        and product_id = #{productId}
      </if>
      <if test=" programStatus != null ">
        and program_status = #{programStatus}
      </if>
      <if test=" approvalStatus != null ">
        and approval_status = #{approvalStatus}
      </if>
    </where>
    ORDER  BY  create_time DESC
    LIMIT 0,1
  </select>

</mapper>