<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.longfor.itserver.mapper.ps.PsProductMapper" >
  <resultMap id="BaseResultMap" type="com.longfor.itserver.entity.Product" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="descp" property="descp" jdbcType="VARCHAR" />
    <result column="contact_account_id" property="contactAccountId" jdbcType="VARCHAR" />
    <result column="contact_employee_code" property="contactEmployeeCode" jdbcType="BIGINT" />
    <result column="contact_employee_name" property="contactEmployeeName" jdbcType="VARCHAR" />
    <result column="contact_full_dept_path" property="contactFullDeptPath" jdbcType="VARCHAR" />
    <result column="like_program" property="likeProgram" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="modified_account_id" property="modifiedAccountId" jdbcType="VARCHAR" />
    <result column="modified_name" property="modifiedName" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modified_time" property="modifiedTime" jdbcType="TIMESTAMP" />
    <result column="analyzing_conditions" property="analyzingConditions" jdbcType="VARCHAR" />

    <result column="contact_account_id1" property="contactAccountId1" jdbcType="VARCHAR"/>
    <result column="contact_employee_code1" property="contactEmployeeCode1" jdbcType="BIGINT"/>
    <result column="contact_employee_name1" property="contactEmployeeName1" jdbcType="VARCHAR"/>
    <result column="contact_full_dept_path1" property="contactFullDeptPath1" jdbcType="VARCHAR"/>
    <result column="logo" property="logo" jdbcType="VARCHAR"/>
    <result column="is_top" property="isTop" jdbcType="VARCHAR"/>
    <result column="label" property="label" jdbcType="VARCHAR"/>
    <result column="pc_url" property="pcUrl" jdbcType="VARCHAR"/>
    <result column="h5_url" property="h5Url" jdbcType="VARCHAR"/>
    <result column="ios_url" property="iosUrl" jdbcType="VARCHAR"/>
    <result column="android_url" property="androidUrl" jdbcType="VARCHAR"/>
    <result column="label_name" property="labelName" jdbcType="VARCHAR"/>
    <result column="windows_url" property="windowsUrl" jdbcType="VARCHAR"/>
    <result column="mac_url" property="macUrl" jdbcType="VARCHAR"/>
    <result column="ios_version" property="iosVersion" jdbcType="VARCHAR"/>
    <result column="android_version" property="androidVersion" jdbcType="VARCHAR"/>
    <result column="ios_modified_time" property="iosModifiedTime" jdbcType="TIMESTAMP"/>
    <result column="android_modified_time" property="androidModifiedTime" jdbcType="TIMESTAMP"/>
    <result column="ios_url_test" property="iosUrlTest" jdbcType="VARCHAR"/>
    <result column="android_url_test" property="androidUrlTest" jdbcType="VARCHAR"/>
    <result column="ios_version_test" property="iosVersionTest" jdbcType="VARCHAR"/>
    <result column="android_version_test" property="androidVersionTest" jdbcType="VARCHAR"/>
    <result column="ios_modified_time_test" property="iosModifiedTimeTest" jdbcType="TIMESTAMP"/>
    <result column="android_modified_time_test" property="androidModifiedTimeTest" jdbcType="TIMESTAMP"/>
  </resultMap>
  <resultMap id="ApiBaseResultMap" extends="BaseResultMap" type="com.longfor.itserver.entity.ps.PsProductAll">
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbggenerated
    -->
    id, name,code, descp, contact_account_id, contact_employee_code, contact_employee_name,
    contact_full_dept_path, like_program, type, status, modified_account_id, modified_name,
    create_time, modified_time, analyzing_conditions, contact_account_id1, contact_employee_code1,
    contact_employee_name1, contact_full_dept_path1, logo,is_top,label, pc_url, h5_url, ios_url, android_url,
    label_name, windows_url, mac_url,ios_version,android_version,ios_modified_time,android_modified_time,
    ios_url_test,android_url_test,ios_version_test,android_version_test,ios_modified_time_test,android_modified_time_test
  </sql>

  <select id="selectLikeList" resultMap="ApiBaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM product
    WHERE   1=1
    <if test="name != null and name != ''">
      and name LIKE concat('%',#{name},'%')
    </if>
    limit 0,20
  </select>
  <select id="getById" resultMap="ApiBaseResultMap" >
    SELECT
    <include refid="Base_Column_List"/>
    FROM product
    WHERE id=#{id}
  </select>
</mapper>